<div class="nested-fields">
  <div class="card">
    <h5 class="card-header">Contato</h5>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-4">
          <%= f.label :telephone %>
          <%= f.text_field :telephone, placeholder: "Escreva seu Telefone", class: "form-control" %>
        </div>

        <div class="col-md-4">
          <%= f.label :cell_phone %>
          <%= f.text_field :cell_phone, placeholder: "Escreva seu Celular", class: "form-control" %>
        </div>

        <div class="col-md-4">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: "Escreva seu Email", class: "form-control" %>
        </div>

        <div class="col-md-12 mt-3">
          <%= link_to_remove_association 'Remover', f, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
