<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Bem-Vindo', root_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Lotação</li>
        </ol>
      </nav>

      <h1 class="mb-3">Workspaces</h1>

      <table class="table">
        <thead>
        <tr>
          <th>Workspace</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @workspaces.each do |workspace| %>
          <tr>
            <td><%= workspace.title %></td>
            <td>
              <%= link_to 'Show', workspace, class: 'btn btn-primary btn-sm mr-2' %>
              <%= link_to 'Edit', edit_workspace_path(workspace), class: 'btn btn-info btn-sm mr-2' %>
              <%= link_to 'Destroy', workspace, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to 'New Workspace', new_workspace_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
