<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <p class="alert alert-info"><%= notice %></p>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Bem-Vindo', root_path %></li>
          <li class="breadcrumb-item"><%= link_to 'Lotação', workspaces_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @workspace.title %></li>
        </ol>
      </nav>

      <p>
        <strong>Title:</strong>
        <%= @workspace.title %>
      </p>

      <%= link_to 'Edit', edit_workspace_path(@workspace), class: 'btn btn-primary' %> |
      <%= link_to 'Back', workspaces_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
