<!DOCTYPE html>
<html>
<head>
  <!-- ... Your head content ... -->
</head>
<body>
<div class="container">
  <div class="mt-3">
    <!-- ... Alerts ... -->
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <!-- ... Navbar content ... -->
  </nav>

  <div class="container">
    <h1 class="mb-4">Bem-vindo!!!</h1>

    <%= link_to 'Pessoas', people_path, class: "btn btn-primary mr-2" %>

    <% if authenticate_adm? %>
      <%= link_to 'Lotações', workspaces_path, class: "btn btn-secondary mr-2" %>
      <%= link_to 'Cargos', job_roles_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<!-- ... Your scripts ... -->
</body>
</html>
