<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <%= form_with(model: job_role, local: true) do |form| %>
        <% if job_role.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(job_role.errors.count, "error") %> prohibited this job_role from being saved:</h2>
            <ul>
              <% job_role.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, id: :job_role_title, class: 'form-control' %>
        </div>

        <div class="form-actions">
          <%= form.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
