<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Bem-Vindo', root_path %></li>
          <li class="breadcrumb-item"><%= link_to 'Cargos', job_roles_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
      </nav>

      <h1 class="mb-3">Editing Job Role</h1>

      <%= render 'form', job_role: @job_role %>

      <%= link_to 'Show', @job_role, class: 'btn btn-secondary mr-2' %>
      <%= link_to 'Back', job_roles_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
