<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Bem-Vindo', root_path %></li>
          <li class="breadcrumb-item active" aria-current="page">Cargos</li>
        </ol>
      </nav>

      <h1 class="mb-3">Job Roles</h1>

      <table class="table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @job_roles.each do |job_role| %>
          <tr>
            <td><%= job_role.title %></td>
            <td>
              <%= link_to 'Show', job_role, class: 'btn btn-primary btn-sm mr-2' %>
              <%= link_to 'Edit', edit_job_role_path(job_role), class: 'btn btn-info btn-sm mr-2' %>
              <%= link_to 'Destroy', job_role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to 'New Job Role', new_job_role_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
