<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Bem-Vindo', root_path %></li>
          <li class="breadcrumb-item"><%= link_to 'Cargos', job_roles_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @job_role.title %></li>
        </ol>
      </nav>

      <h1 class="mb-3"><%= @job_role.title %></h1>

      <p class="mb-3">
        <strong>Title:</strong>
        <%= @job_role.title %>
      </p>

      <%= link_to 'Edit', edit_job_role_path(@job_role), class: 'btn btn-info mr-2' %>
      <%= link_to 'Back', job_roles_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
